{{>partials/header}}

 <div>
    <hr />
        <img src="https://raw.githubusercontent.com/GamerCleanVic/archives/main/images/river1.png"
            alt="River in city" style="width: 360px;"
         />
    <hr />
 </div>

{{>partials/footer}}